<h2>Inside Demo Component</h2>

<p>
    <span class="Style3">
        First number:
    </span>
     <span class="Style1">
        {{Value1}}
     </span>
</p>

<p>
    <span class="Style3">
        Second number:
    </span>
     <span class="Style1">
        {{Value2}}
     </span>
</p>

<p>
    <span class="Style3">
        Addition:
    </span>
     <span class="Style2">
        {{Sum}}
     </span>
</p>

<p>
    <span class="Style3">
        Substraction:
    </span>
     <span class="Style2">
        {{Sub}}
     </span>
</p>