<h2>Books</h2>

<ul>
    <li>"Learning Angular" by Brad Dayley, Brendan Dayley, and Caleb Dayley</li>
    <li>"Android Programming: The Big Nerd Ranch Guide" by Bill Phillips, Chris Stewart, Kristin Marsicano</li>
    <li>"Node.js Design Patterns" by Mario Casciaro and Luciano Mammino</li>
    <li>"Big Data: Principles and Best Practices of Scalable Real-Time Data Systems" by Nathan Marz and James Warren</li>
    <li>"Python Crash Course" by Eric Matthes</li>
    <li>"Artificial Intelligence: A Guide to Intelligent Systems" by Michael Negnevitsky</li>
</ul>